# 目录
.git/
.fake/
.idea/
.vscode/
.cache/
.env/
.cargo/
.venv*/
.conda*/

__pycache__/
.pytest_cache/
.ipynb_checkpoints/
*.dSYM/
*.egg-info/

*data/
*datas/
*build/
*builds/
*dist/
*dists/
*target/
*targets/
*log/
*logs/
*result/
*results/
*resource/
*resources/


# 文件
*.clang-format
*.DS_Store

*.jpg
*.jpeg
*.png
*.bmp
*.tif
*.tiff
*.gif
*.svg

*.mp4
*.avi
*.mov
*.mkv

*.mp3
*.wav
*.aac
*.flac

*.txt
*.csv
*.log
*.pdf
*.docx
*.doc
*.xls
*.xlsx

*.zip
*.tar
*.gz
*.rar
*.7z
*.bz2
*.xz
*.whl
*.pkl
*.pickle
*.db

*.npy
*.h5
*.pb
*.pt
*.pth
*.ckpt
*.bin
*.trt
*.onnx
*.model
*.gguf
*.safetensors
*.torchscript


# 排除
!**/assets/**
!**/requirements.txt
!**/CMakeLists.txt
