.git
.fake
.idea
.cache
.vscode
.DS_Store
._.DS_Store
.clang-format
.ipynb_checkpoints

*.dSYM
*.egg-info
__pycache__

data
datas
build
builds
log
logs
result
results
resource
resources

*.jpg
*.jpeg
*.png
*.bmp
*.tif
*.tiff
*.gif
*.svg

*.txt
*.csv
*.log
*.pdf
*.docx
*.doc
*.xls
*.xlsx

*.zip
*.tar
*.gz
*.rar
*.7z
*.bz2
*.xz

*.npy
*.h5
*.pb
*.pt
*.pth
*.bin
*.trt
*.onnx
*.safetensors
*.torchscript

!**/assets/**
!**/requirements.txt
!**/CMakeLists.txt
