[submodule "PaperResearch/DL-SR"]
	path = PaperResearch/DL-SR
	url = https://github.com/qc17-THU/DL-SR.git
	branch = main
[submodule "PaperResearch/opticalCNN"]
	path = PaperResearch/opticalCNN
	url = https://github.com/computational-imaging/opticalCNN.git
	branch = master
[submodule "PaperResearch/phasenet"]
	path = PaperResearch/phasenet
	url = https://github.com/mpicbg-csbd/phasenet.git
	branch = master
[submodule "PaperResearch/tamingtransformer"]
	path = PaperResearch/tamingtransformer
	url = https://github.com/AmmadDeveloper/tamingtransformer.git
	branch = master
[submodule "PaperResearch/TransBTS"]
	path = PaperResearch/TransBTS
	url = https://github.com/Rubics-Xuan/TransBTS.git
	branch = main
[submodule "facefusion"]
	path = facefusion
	url = https://github.com/facefusion/facefusion.git
	branch = master
[submodule "FastSAM"]
	path = FastSAM
	url = https://github.com/CASIA-IVA-Lab/FastSAM.git
	branch = main
[submodule "GFPGAN"]
	path = GFPGAN
	url = https://github.com/TencentARC/GFPGAN.git
	branch = master
[submodule "llama"]
	path = llama
	url = https://github.com/facebookresearch/llama.git
	branch = main
[submodule "ml-stable-diffusion"]
	path = ml-stable-diffusion
	url = https://github.com/apple/ml-stable-diffusion.git
	branch = main
[submodule "MobileSAM"]
	path = MobileSAM
	url = https://github.com/ChaoningZhang/MobileSAM.git
	branch = master
[submodule "RobustVideoMatting"]
	path = RobustVideoMatting
	url = https://github.com/PeterL1n/RobustVideoMatting.git
	branch = master
[submodule "Real-ESRGAN"]
	path = Real-ESRGAN
	url = https://github.com/xinntao/Real-ESRGAN.git
	branch = master
[submodule "segment-anything"]
	path = segment-anything
	url = https://github.com/facebookresearch/segment-anything.git
	branch = main
[submodule "spleeter"]
	path = spleeter
	url = https://github.com/deezer/spleeter.git
	branch = master
[submodule "stablediffusion"]
	path = stablediffusion
	url = https://github.com/Stability-AI/stablediffusion.git
	branch = main
[submodule "ultralytics"]
	path = ultralytics
	url = https://github.com/ultralytics/ultralytics.git
	branch = main
[submodule "whisper"]
	path = whisper
	url = https://github.com/openai/whisper.git
	branch = main
[submodule "GroundingDINO"]
	path = GroundingDINO
	url = https://github.com/IDEA-Research/GroundingDINO.git
	branch = main
[submodule "GPT-SoVITS"]
	path = GPT-SoVITS
	url = git@github.com:RVC-Boss/GPT-SoVITS.git
	branch = main
[submodule "transformers"]
	path = transformers
	url = git@github.com:huggingface/transformers.git
	branch = main
[submodule "PaperResearch/Vary"]
	path = PaperResearch/Vary
	url = git@github.com:Ucas-HaoranWei/Vary.git
	branch = main
[submodule "diffusers"]
	path = diffusers
	url = git@github.com:huggingface/diffusers.git
	branch = main
[submodule "ChatTTS"]
	path = ChatTTS
	url = https://github.com/2noise/ChatTTS.git
	branch = main
[submodule "vllm"]
	path = vllm
	url = git@github.com:vllm-project/vllm.git
	branch = main
[submodule "ollama"]
	path = ollama
	url = git@github.com:ollama/ollama.git
	branch = main
[submodule "langchain"]
	path = langchain
	url = git@github.com:langchain-ai/langchain.git
	branch = master
[submodule "GLM-4"]
	path = GLM-4
	url = git@github.com:THUDM/GLM-4.git
	branch = main
[submodule "Qwen2"]
	path = Qwen2
	url = git@github.com:QwenLM/Qwen2.git
	branch = main
[submodule "CLIP"]
	path = CLIP
	url = https://github.com/openai/CLIP.git
	branch = main
[submodule "segment-anything-2"]
	path = segment-anything-2
	url = git@github.com:facebookresearch/segment-anything-2.git
	branch = main
[submodule "recognize-anything"]
	path = recognize-anything
	url = https://github.com/xinyu1205/recognize-anything.git
	branch = main
[submodule "MiniCPM"]
	path = MiniCPM
	url = https://github.com/OpenBMB/MiniCPM.git
	branch = main
[submodule "VideoMAEv2"]
	path = VideoMAEv2
	url = https://github.com/OpenGVLab/VideoMAEv2.git
	branch = master
[submodule "dify"]
	path = dify
	url = https://github.com/langgenius/dify.git
	branch = main
[submodule "VideoLingo"]
	path = VideoLingo
	url = https://github.com/Huanshere/VideoLingo.git
	branch = main
[submodule "DiffBIR"]
	path = DiffBIR
	url = https://github.com/XPixelGroup/DiffBIR.git
	branch = main
[submodule "unsloth"]
	path = unsloth
	url = https://github.com/unslothai/unsloth.git
	branch = main
[submodule "fish-speech"]
	path = fish-speech
	url = https://github.com/fishaudio/fish-speech.git
	branch = main
[submodule "sglang"]
	path = sglang
	url = https://github.com/sgl-project/sglang.git
	branch = main
[submodule "Depth-Anything-V2"]
	path = Depth-Anything-V2
	url = https://github.com/DepthAnything/Depth-Anything-V2.git
	branch = main
[submodule "ml-depth-pro"]
	path = ml-depth-pro
	url = https://github.com/apple/ml-depth-pro.git
	branch = main
[submodule "UniDepth"]
	path = UniDepth
	url = https://github.com/lpiccinelli-eth/UniDepth.git
	branch = main
[submodule "higgs-audio"]
	path = higgs-audio
	url = https://github.com/boson-ai/higgs-audio
	branch = main
[submodule "SenseVoice"]
	path = SenseVoice
	url = git@github.com:FunAudioLLM/SenseVoice.git
	branch = main
[submodule "CosyVoice"]
	path = CosyVoice
	url = git@github.com:FunAudioLLM/CosyVoice.git
	branch = main
